CADDY_DOMAIN=your-domain.com
PHX_HOST=your-domain.com
SECRET_KEY_BASE=REPLACE_WITH_MIX_PHX_GEN_SECRET
DATABASE_URL=ecto://postgres:postgres@db/elixir_nawala_dk168_prod
TELEGRAM_BOT_TOKEN=
SFLINK_API_TOKEN=
